<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.kelompok1.bookspaces">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookSpace">
        <activity
            android:name="id.kelompok1.bookspaces.DetailPinjamActivity"
            android:exported="false" />
        <activity
            android:name="id.kelompok1.bookspaces.BukuFiksiActivity"
            android:exported="false" />
        <activity
            android:name="id.kelompok1.bookspaces.BukuIlmiahActivity"
            android:exported="false" />
        <activity
            android:name="id.kelompok1.bookspaces.BukuEdukasiActivity"
            android:exported="false" />
        <activity
            android:name="id.kelompok1.bookspaces.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="id.kelompok1.bookspaces.TambahBukuActivity"
            android:exported="false" />
        <activity
            android:name="id.kelompok1.bookspaces.ListPinjamActivity"
            android:exported="false" />
        <activity
            android:name="id.kelompok1.bookspaces.PinjamActivity"
            android:exported="false" />
        <activity
            android:name="id.kelompok1.bookspaces.LobbyActivity"
            android:exported="false" />
        <activity
            android:name="id.kelompok1.bookspaces.LoginActivity"
            android:exported="false" />
        <activity
            android:name="id.kelompok1.bookspaces.DaftarActivity"
            android:exported="false" />
        <activity
            android:name="id.kelompok1.bookspaces.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>